/** app */
// $app-bg: $app-bg-day;
// $app-bg-day: {day};
// $app-bg-nigth: {nigth};

$app-bg-color-base: #f1f1f1;
$app-bg-color-origin: orange;
$app-bg-color-blue: #4cbbfc;

/** rank */
$rank-bg-color-red: #f87394;
$rank-bg-color-purple: #de6df5;
$rank-bg-color-blue: #4cbbfc;

/** a */
$a-bg-color-hover: #f3f3f3;
$a-text-color-active: #ff4059;
$a-bg-color-active: #cccccc;

/** text color */
$text-color-grey: #a1a1a1;
$text-color-link: #444444;
$text-color-black: #313131;
$text-color-white: #ffffff;
